.cart-page {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-card {
  width: calc(33.333% - 1rem);
  margin-bottom: 1rem;
}

.card-img-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title h1 {
  font-family: Arial, sans-serif;
  font-size: 48px;
}

.card-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card .price {
  font-size: 1rem;
  font-weight: bold;
  color: #6c757d;
}

.card .quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card .quantity {
  margin: 0 10px;
  font-size: 1.2rem;
}
