body {
    font-family: Arial, sans-serif !important;
    background-color: #edebedf3 !important;
    margin: 30px 280px 10px 280px;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-title {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.main-title h1 {
    font-family: Arial, sans-serif;
    font-size: 48px;
}
