body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-top: 30px;
    margin-right: 280px;
    margin-bottom: 10px;
    margin-left: 280px;
    padding: 0;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.main-title {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.main-title h1 {
    font-family: Arial, sans-serif;
    font-size: 48px;
}
